/* iconic web font - http://somerandomdude.com/work/iconic/ */
@font-face {
	font-family: "IconicStroke";
	src: url("iconic_stroke.eot");
	src: url("iconic_stroke.woff") format("woff"), url("iconic_stroke.ttf") format("truetype"), url("iconic_stroke.otf") format("opentype"), url("iconic_stroke.svg#iconic") format("svg");
}

body
{
	font-family: arial, helvetica, freesans, sans-serif;
	font-size: 100%;
	color: #333;
	background-color: #ddd;
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
}

p
{
	clear: both;
	margin: 0.5em 0;
}

fieldset
{
	margin: 0;
}

fieldset div
{
	clear: both;
	margin: 2px 0;
}

fieldset label
{
	float: left;
	width: 8em;
	text-align: right;
	margin-right: 0.5em;
}

input
{
	width: 6em;
	text-align: right;
}

.icon, #icons span {
	font-family: "IconicStroke";
}

#icons
{
	font-size: 1em;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#icons li
{
	display: inline-block;
	padding: 1px;
	margin: 3px;
	color: #999;
	background-color: #fff;
}

#icons span
{
	display: block;
	font-size: 300%;
	width: 2em;
	text-align: center;
	color: #000;
	cursor: default;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

#icons li:hover span,
#icons li:focus span
{
	-webkit-transform: scale(1.7);
	-moz-transform: scale(1.7);
	-ms-transform: scale(1.7);
	-o-transform: scale(1.7);
	-transform: scale(1.7);
}